/* CSS for Header component */
.header-container {
    background-color: #93BFCF;
    color: #fff;
    padding: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content h1 {
    margin: 0;
    font-size: 32px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}